<div class="col-md-6 align-content-center">
  <div class="mt-5 ml-5">
    <h1>Success</h1>
    <p>Your Role Request Form has been submitted.</p><br>
    <p>Once your request is reviewed, you will received an email regarding indicating if the request has been accepted or rejected. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend risus at odio faucibus maximus. Maecenas varius libero eget orci porta mattis. Sed vulputate placerat auctor. Nam eu turpis tempus, pharetra lacus id, volutpat ipsum. </p>
  </div>
  <!--<div aria-live="polite" aria-atomic="true">-->
    <!--<app-alert-message [heading]="'Success'" [alertType]="'success'" [alertMessages]="['Your Role Request Form has been submitted.']"></app-alert-message>-->
  <!--</div>-->
  <table class="table col-md-6 ml-5">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">User Role</th>
    <th scope="col">Date Requested</th>
    <th scope="col">Approver</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Role</td>
    <td>04/01/2019</td>
    <td>@mdo</td>
    <td>Pending</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Role</td>
    <td>03/29/2019</td>
    <td>Mark</td>
    <td>Approved</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Role</td>
    <td>3/25/2019</td>
    <td>Larry</td>
    <td>Approved</td>
  </tr>
  </tbody>
</table>
</div>
